*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 120px;
    position: fixed;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
}
header nav{
    width: 90%;
    height: 120px;
    margin: auto;   
    
}
header .menu{
    margin-left: 140px;
    padding-top: 50px;
}
header nav .menu > li{
    float: left;
    list-style: none;
}
header nav .menu li .menuA{
 font-family: Arial;
 display: block;
 padding: 20px;
 color: white;
 text-decoration: none;
}
header .aMotos{
    border:solid 0.5px white;
    border-top: none;
    border-bottom: none;
}
.aMotos img{
    width: 10px;
    padding-left: 5px;
}
.aPromociones{
    border: solid 0.5px white;
    border-top: none;
    border-bottom: none;
    border-left: none;
}
header nav ul li a:hover{
 transition: 0.5s;
 background: rgba(0,0,0,0.3);
}

/*SUBMENU///////////*/
.subMenu{
    position: absolute;
    background: gray;
    width: 150px;
    display: none;
}

.subMenu li{
    float: inherit;
    list-style: none;
    
}
.subMenu li a{
    padding: inherit;
    padding: 10px;
    display: block;
    color: white;
    font-family: arial;
    text-decoration: none;

}

nav li:hover > .subMenu{ 
    display: block;
}


.logoMenu{
    position: absolute;
    float: left;
    width: 80px;
    padding-left: 20px;
    padding-top: 20px;
}



.buscadorCarro{
    width: 320px;
    height: 40px;
    float: right;
    margin-top: -20px;
    padding-right: 20px;
}
.buscadorCarro h3{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12pt;
    color: white;
    padding-left: 162px;
    font-family: Arial;
    font-weight: lighter;
}
.buscadorCarro #search{
    width: 250px;
    height: 30px;
    background: white;
}
.carroMenuImg{
    float: right;
    width: 50px;
}

/*Marcas////////*/

.imgMarcas{
    width: 1200px;
    margin: auto;
    height: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imgMarcas div{
    float: left;
    margin-left: 10px;
}
.imgMarcas .primerMarca img{
    width: 200px;
}
.imgMarcas .segundaMarca img{
    width: 200px;
    margin-top: 20px;

}
.imgMarcas .terceraMarca img{
    width: 130px;

}
.imgMarcas .cuartaMarca img{
    width: 200px;
    margin-top: 20px;
}
.imgMarcas .quintaMarca img{
    width: 160px;

}
.imgMarcas .sextaMarca img{
    width: 250px;
    padding-top: 50px;
}


/*Datos de la Empresa
Horario etc.
/////*/
.datosEmpresa{
    background: #cecdcd;
    width: 100%;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.centroDatosEmpresa{
    width: 1200px;
    margin: auto;
}
.centroDatosEmpresa div{
    float: left;
    
}
.div1{
    width: 480px;
    height: 180px;
    padding-top: 20px;
}
.div2{
    width: 340px;
    height: 200px;
    border: solid 1px white;
    border-top: none;
    border-bottom: none;
}
.div3{
    width: 369px;
    height: 200px;
}
/*horaFakeTelefono*/
.div1 div{
    
    height: 70px;
    padding-top: 10px; 
}
.div1 .divTelefono{
    padding-left: 70px;
}
.div1 img{
    margin-top: 15px;
    width: 40px;
    float: left;
    margin-right: 10px;
}
.div1 h3{
    font-size: 11pt;
    font-family: arial;
    font-weight: bold;
    margin-left: 50px;
}
.telefono{
    margin-top: 17px;
}
.direccion{
    margin-top: 25px;
}
/*Pie Menu*/
.div2 li{
    list-style: none;
    display: block;
}
.div2 a{
    color: black;
    font-family: arial;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
a:hover{
    transition: 0.5s;
    background: #b1b0b0;
}
/*Redes*/
.redes{
    width: 260px;
    height: 100px;
    
    margin-left: 100px;
}
.imgRedes{
    width: 40px;
}
.redes img{
    margin-top: 20px;
    width: 100%;
    float: left;
}
.redes img:hover{
    transition: 0.5s;
    opacity: 0.9;
}
.textoRedes{
    margin-top: 35px;
    margin-left: 20px;
}
.textoRedes a{
    font-family: arial;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}


/*Footer///*/

footer{
    background: #6c6a6c;
    width: 100%;
}
.centroFooter{
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.centroFooter h2{
    color: white;
    font-family: arial;
    font-weight: lighter;
}
.desing{
    float: right;
}